<div id="topPanel">
<div class="headone">World Beer Complete</div>
<div class="headinc"><%= @beer.size %></div>
</div>

<% case @beer.size when 75 %>
	    Only 25 to go, do not fuck this up
<% when 72 %>
				Oh - Em - Gee... You just got 72!
<% when 90 %>
		10 to go!
<% when 91 %>
		...9
<% when 92 %>
		...8
<% when 93 %>
		...7
<% when 94 %>
		...6
<% when 95 %>
		...5
<% when 96 %>
		...4
<% when 97 %>
		...3
<% when 98 %>
		...2
<% when 99 %>
		...1
<% when 100 %>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/3GwjfUFyY6M?autoplay=1" frameborder="7" allowfullscreen></iframe>				
<% end %>

<div id="back-link"><%= link_to("Show Incomplete Beers", {:controller => 'public', :action => 'index'}, :class => 'viewnext') %></div>

<div id="search">
  <%= render :partial => 'public/search' %>
</div>
<div id="back-link">
<%= link_to("Order by Favorite", {:controller => 'public', :action => 'favorite'}, :class => 'viewnext') %>
</div>
		<center><table class="beer-listing" summary="Beer list">
			<% @beer.each do |beer| %>

			<script>
				function toggle<%= beer.id %>() {

						var ele = document.getElementById("toggleText<%= beer.id %>");
						var text = document.getElementById("displayText<%= beer.id %>");

						if(ele.style.display == "block") 
						{
					    	ele.style.display = "none";

					  	}
						else {
							ele.style.display = "block";

						}
				}
			</script>	

			<div id="links">
				<ul class="table">
					<li><a id="displayText<%= beer.id %>" class="clicky" href="javascript:toggle<%= beer.id %>();"><%= beer.name %></a>
					</li>
					<div id="toggleText<%= beer.id %>" style="display: none">
							<a href="/public/show/<%= beer.id %>"><img src=/images/beerpics/<%= beer.file %>  height="70" weight="70"></a>
								<ul>
								<li><b><%= beer.brewer %></b></li>
					    		<li><i><%= beer.location %></i></li>
					    		<li><%= beer.beer_type %></li>
								</ul>
						</div>
					
				</ul>
			</div>
	   <% end %>
	  </table></center>