<div id="center">
<div class="beer list">
	<%= link_to("Show Completed Beers", {:controller => 'public', :action => 'complete'}, :class => 'viewnext') %>
	<table class="beer-listing" summary="Beer list">
		<tr class="sectionHeader">
      <th>Name</th>
      <th>Beer Type</th>
      <th>Brewer</th>
      <th>Location</th>
    </tr>
    <% @beer.each do |beer| %>
    <tr class="beer-list">
	  <td><%= beer.name %></td>
	  <td><b><%= beer.beer_type %></b></td>
	  <td><b><%= beer.brewer %></b></td>
      <td><i><%= beer.location %></i></td>
    </tr>
    <% end %>
  </table>
</div>
</div>