

<div id="center">
<div class="beer list">
	<%= link_to("Show Completed Beers", {:controller => 'public', :action => 'complete'}, :class => 'viewnext') %>
	<table class="beer-listing" summary="Beer list">
    <% @beer.each do |beer| %>

<script>
	function toggle<%= beer.id %>() {

			var ele = document.getElementById("toggleText<%= beer.id %>");
			var text = document.getElementById("displayText<%= beer.id %>");

			if(ele.style.display == "block") 
			{
		    	ele.style.display = "none";

		  	}
			else {
				ele.style.display = "block";

			}
	}
</script>	

<tr class="beer-list">
	<td>
		<a id="displayText<%= beer.id %>" class="clicky" href="javascript:toggle<%= beer.id %>();"><%= beer.name %></a>
		<div id="toggleText<%= beer.id %>" style="display: none">
			<h3><%= beer.name %></br></h3>
			<%= beer.beer_type %></br>
			<b><%= beer.brewer %></b></br>
		    <i><%= beer.location %></i>
		</div>
	</td>  
    </tr>
    <% end %>
  </table>
</div>
</div>