<div id="topPanel">
<div class="headone">World Beer Challenge</div>
<div class="headinc"><%= @beer.size %></div>
</div>
<div id="back-link"><%= link_to("Show Completed Beers", {:controller => 'public', :action => 'complete'}, :class => 'viewnext') %></div>

<div id="search">
  <%= render :partial => 'public/search' %>
</div>

		<table class="beer-listing" summary="Beer list">
			<% @beer.each do |beer| %>

			<script>
				function toggle<%= beer.id %>() {

						var ele = document.getElementById("toggleText<%= beer.id %>");
						var text = document.getElementById("displayText<%= beer.id %>");

						if(ele.style.display == "block") 
						{
					    	ele.style.display = "none";

					  	}
						else {
							ele.style.display = "block";

						}
				}
			</script>	

			<div id="links">
				<ul class="table">
					<li><a id="displayText<%= beer.id %>" class="clicky" href="javascript:toggle<%= beer.id %>();"><%= beer.name %></a>
					</li>
					<div id="toggleText<%= beer.id %>" style="display: none">
							<a href="/public/show/<%= beer.id %>"><img src=/images/beerpics/<%= beer.file %>  height="70" weight="70"></a>
								<ul>
								<li><b><%= beer.brewer %></b></li>
					    		<li><i><%= beer.location %></i></li>
					    		<li><%= beer.beer_type %></li>
								</ul>
						</div>
					
				</ul>
			</div>
	   <% end %>
	  </table>