<div id="back-link"><%= link_to("Show Incompleted Beers", {:controller => 'public', :action => 'index'}, :class => 'viewnext') %></div>

<div class="ticket show">
  <h2><%= @beer.name %></h2></br>
  <img src=/images/beerpics/<%= @beer.file %>></br>
  <table summary="Team detail view">
    <tr>
      <th>Location</th>
      <td><%= @beer.location %></td>
    </tr>
    <tr>
      <th>Beer Type</th>
      <td><%= @beer.beer_type %></td>
    </tr>
    <tr>
      <th>Brewer</th>
      <td><%= @beer.brewer %></td>
    </tr>
    <tr>
      <th>Completed?</th>
      <td><%= @beer.completed ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <th>Notes</th>
      <td><%= @beer.notes %></td>
    </tr>
  </table>
</br>
<div id="back-link"><%= link_to("Edit Beer", {:action => 'edit', :id => @beer.id}, :class => 'viewnext') %></div>  
</div>